body {
  margin: 0;
  font-family: 'MuseoModerno', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgb(117, 166, 223), rgb(162, 247, 160));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head {
  font-size: 52px;
  background: -webkit-linear-gradient(rgb(71, 64, 80), rgb(190, 117, 58));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}